*{
    // margin:0;
    // padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
}
// #picturesDIv{
//     width: 600px;
//     height: 600px;
//     display: flex;
//     flex-wrap: wrap;

// }
